# Conexión real al Windows Server 2012 R2
AD_URL=ldap://x.x.x.x:389
AD_DOMAIN=dominio.local
AD_SEARCH_BASE=dc=dominio,dc=local

# Credenciales válidas para la prueba End-to-End
TEST_AD_USER=usuario
TEST_AD_PASSWORD="clave"
